In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import matplotlib
import seaborn as sns

# ìš°ì„ ìˆœìœ„ ë¶„ì„ ëŒ€ìƒ ë³€ìˆ˜

|  ë³€ìˆ˜ëª…  |  ì„¤ëª…  |  ìš°ì„ ìˆœìœ„  |  ì´ìœ   |
|---------------|--------------------------------------|------------------------------------------------------|------------------------------------------------------|
|  sum_click  |  í•™ìƒì˜ í´ë¦­ íšŸìˆ˜ (í•™ìƒì˜ í™œë™ ì •ë„)  |  ğŸ”¥ ë†’ì€ ìš°ì„ ìˆœìœ„  |  í´ë¦­ íšŸìˆ˜ëŠ” í•™ìƒì´ ì–¼ë§ˆë‚˜ í•™ìŠµì— ì°¸ì—¬í•˜ê³  ìˆëŠ”ì§€ë¥¼ ë³´ì—¬ì¤ë‹ˆë‹¤. ì´íƒˆ ì˜ˆì¸¡ì— ì¤‘ìš”í•œ ë³€ìˆ˜ì…ë‹ˆë‹¤.  |
|  id_student  |  í•™ìƒ ID  |  ğŸ”¥ ë†’ì€ ìš°ì„ ìˆœìœ„  |  í•™ìƒë³„ë¡œ ì´íƒˆ ì—¬ë¶€ë¥¼ ì¶”ì í•  ìˆ˜ ìˆëŠ” ì£¼ìš” ì‹ë³„ìì…ë‹ˆë‹¤. í•™ìƒì˜ í•™ìŠµ íŒ¨í„´ê³¼ ì—°ê´€ëœ ë¶„ì„ì„ ìœ„í•´ í•„ìš”í•´ìš”.  |
|  date  |  í™œë™ ì¼ì  |  ğŸŸ  ì¤‘ê°„ ìš°ì„ ìˆœìœ„  |  í•™ìƒì˜ í™œë™ ì‹œì ì„ ì•Œ ìˆ˜ ìˆì–´ìš”. ì‹œê°„ëŒ€ë³„, ì£¼ê°„ë³„ í™œë™ ë³€í™”ë¥¼ ë¶„ì„í•  ìˆ˜ ìˆê¸° ë•Œë¬¸ì— í•™ìŠµ íŒ¨í„´ ë¶„ì„ì— ìœ ìš©í•©ë‹ˆë‹¤.  |
|  code_module  |  ê°•ì¢Œ ì½”ë“œ (í•™ìƒì´ ìˆ˜ê°•í•œ ê°•ì¢Œ)  |  ğŸŸ  ì¤‘ê°„ ìš°ì„ ìˆœìœ„  |  ì–´ë–¤ ê°•ì¢Œë¥¼ ìˆ˜ê°•í–ˆëŠ”ì§€ ì•Œ ìˆ˜ ìˆì–´, ì´íƒˆ íŒ¨í„´ì´ ê°•ì¢Œë³„ë¡œ ë‹¤ë¥¸ì§€ ë¶„ì„í•  ìˆ˜ ìˆì–´ìš”.  |
|  code_presentation  |  ê°•ì¢Œ ì œê³µ í•™ê¸° (í•™ìƒì´ ìˆ˜ê°•í•œ í•™ê¸°)  |  ğŸŸ¡ ë‚®ì€ ìš°ì„ ìˆœìœ„  |  íŠ¹ì • í•™ê¸°ì— ë”°ë¼ ì´íƒˆ íŒ¨í„´ì´ ë‹¬ë¼ì§ˆ ìˆ˜ ìˆì§€ë§Œ, ì´ ë³€ìˆ˜ëŠ” ì´íƒˆ ì˜ˆì¸¡ì— ìƒëŒ€ì ìœ¼ë¡œ ì ì€ ì˜í–¥ì„ ë¯¸ì¹  ìˆ˜ ìˆì–´ìš”.  |
|  id_site  |  í•™ìƒì´ í™œë™í•œ ì‚¬ì´íŠ¸ ID  |  ğŸŸ¡ ë‚®ì€ ìš°ì„ ìˆœìœ„  |  ì‚¬ì´íŠ¸ì— ë”°ë¥¸ í™œë™ ì°¨ì´ê°€ ìˆì„ ìˆ˜ ìˆì§€ë§Œ, ì´íƒˆ ì˜ˆì¸¡ì— ìˆì–´ì„œ ìƒëŒ€ì ìœ¼ë¡œ ëœ ì¤‘ìš”í•œ ë³€ìˆ˜ì¼ ìˆ˜ ìˆì–´ìš”.  |

In [2]:
df = pd.read_csv('./data/studentVle.csv')
df

         code_module code_presentation  id_student  id_site  date  sum_click
0                AAA             2013J       28400   546652   -10          4
1                AAA             2013J       28400   546652   -10          1
2                AAA             2013J       28400   546652   -10          1
3                AAA             2013J       28400   546614   -10         11
4                AAA             2013J       28400   546714   -10          1
...              ...               ...         ...      ...   ...        ...
10655275         GGG             2014J      675811   896943   269          3
10655276         GGG             2014J      675578   896943   269          1
10655277         GGG             2014J      654064   896943   269          3
10655278         GGG             2014J      654064   896939   269          1
10655279         GGG             2014J      654064   896939   269          1

[10655280 rows x 6 columns]

# ì´íƒˆ ì˜ˆì¸¡
<br>

### ìš°ì„ ìˆœìœ„ 1: í•µì‹¬ ì»¬ëŸ¼ (ê°€ì¥ ì¤‘ìš”í•œ ì»¬ëŸ¼)

| ì»¬ëŸ¼ëª…          | ì„¤ëª…                                   | ì´ìœ                                                    |
|---------------|--------------------------------------|------------------------------------------------------|
|id_student|í•™ìŠµì ID|í•™ìŠµìë³„ë¡œ í™œë™ì„ ì¶”ì í•  ìˆ˜ ìˆì–´. ì´íƒˆì„ ì˜ˆì¸¡í•˜ë ¤ë©´ ê°œë³„ í•™ìŠµìì˜ í–‰ë™ íŒ¨í„´ì„ íŒŒì•…í•˜ëŠ” ê²ƒì´ ì¤‘ìš”.|
|date|ê°•ì˜ ì‹œì‘ í›„ ë©°ì¹ ì§¸ì¸ì§€| ì‹œê°„ì— ë”°ë¥¸ í•™ìŠµìì˜ í™œë™ ë³€í™”ë¥¼ ë¶„ì„í•  ìˆ˜ ìˆì–´. íŠ¹ì • ì‹œì ì—ì„œ í™œë™ì´ ì¤„ì–´ë“¤ë©´ ì´íƒˆ ê°€ëŠ¥ì„±ì´ ë†’ë‹¤ê³  ë³¼ ìˆ˜ ìˆìŒ.|
|sum_click|í•´ë‹¹ ë‚ ì§œì— í•™ìŠµìê°€ í´ë¦­í•œ íšŸìˆ˜| í´ë¦­ ìˆ˜ ê°ì†ŒëŠ” í•™ìŠµìì˜ í™œë™ ê°ì†Œë¥¼ ë‚˜íƒ€ë‚´ë©°, ì´íƒˆ ì˜ˆì¸¡ì—ì„œ ì¤‘ìš”í•œ ì—­í• ì„ í•¨. í™œë™ëŸ‰ ê°ì†Œê°€ ì´íƒˆì˜ ì „ì¡°ì¼ ìˆ˜ ìˆìŒ.|

- ë¶„ì„ ë°©í–¥
    - id_studentë³„ë¡œ í´ë¦­ ìˆ˜(sum_click) ë³€í™” ë¶„ì„.
    - ì‹œê°„ì— ë”°ë¥¸ í™œë™ ë³€í™” (date)ë¥¼ í†µí•´ ì´íƒˆì„ ì˜ˆì¸¡.

<br><br>

### ìš°ì„ ìˆœìœ„ 2: ë³´ì¡° ì»¬ëŸ¼ (ë³´ì¡°ì ì´ì§€ë§Œ ì¤‘ìš”í•œ ì»¬ëŸ¼)
| ì»¬ëŸ¼ëª…| ì„¤ëª…| ì´ìœ |
|---------------|--------------------------------------|------------------------------------------------------|
|code_module|ê°•ì¢Œ ì½”ë“œ (ì˜ˆ: AAA)|íŠ¹ì • ê°•ì¢Œì—ì„œ ì´íƒˆë¥  ì°¨ì´ê°€ ìˆì„ ìˆ˜ ìˆìŒ. ê°•ì¢Œë³„ë¡œ ì´íƒˆ íŒ¨í„´ì„ ë¶„ì„í•˜ì—¬, ì´íƒˆ ê°€ëŠ¥ì„±ì´ ë†’ì€ ê°•ì¢Œë¥¼ íŒŒì•…í•  ìˆ˜ ìˆìŒ.|
|code_presentation|ê°•ì¢Œ ì œê³µ í•™ê¸° (ì˜ˆ: 2013J)|íŠ¹ì • í•™ê¸°ì—ì„œ ì´íƒˆ íŒ¨í„´ì´ ë‹¤ë¥¼ ìˆ˜ ìˆìŒ. í•™ê¸°ë³„ ë¶„ì„ì„ í†µí•´ ì´íƒˆ ê°€ëŠ¥ì„±ì´ ë†’ì€ í•™ê¸°ë¥¼ ì‹ë³„í•  ìˆ˜ ìˆìŒ.|

- ë¶„ì„ ë°©í–¥
    - íŠ¹ì • ê°•ì¢Œ ë˜ëŠ” í•™ê¸°ë³„ë¡œ ì´íƒˆë¥  ì°¨ì´ ë¶„ì„. ì´íƒˆì´ ë” ë†’ì€ ê°•ì¢Œë‚˜ í•™ê¸°ê°€ ìˆì„ ìˆ˜ ìˆìŒ.

<br><br>

### ìš°ì„ ìˆœìœ„ 3: ë¶ˆí•„ìš” ì»¬ëŸ¼ (ì´íƒˆ ì˜ˆì¸¡ì— í¬ê²Œ ì˜í–¥ ì—†ìŒ)
| ì»¬ëŸ¼ëª…          | ì„¤ëª…                                   | ì´ìœ                                                    |
|---------------|--------------------------------------|------------------------------------------------------|
| id_site | ì›¹ì‚¬ì´íŠ¸ ID | í•™ìŠµìì˜ ì›¹ì‚¬ì´íŠ¸ í™œë™ê³¼ ì´íƒˆ ì‚¬ì´ì— ì§ì ‘ì ì¸ ê´€ê³„ê°€ ì ì„ ìˆ˜ ìˆìŒ. ì´íƒˆ ì˜ˆì¸¡ì— í° ì˜í–¥ì„ ë¯¸ì¹˜ì§€ ì•ŠìŒ. |

In [3]:
df

         code_module code_presentation  id_student  id_site  date  sum_click
0                AAA             2013J       28400   546652   -10          4
1                AAA             2013J       28400   546652   -10          1
2                AAA             2013J       28400   546652   -10          1
3                AAA             2013J       28400   546614   -10         11
4                AAA             2013J       28400   546714   -10          1
...              ...               ...         ...      ...   ...        ...
10655275         GGG             2014J      675811   896943   269          3
10655276         GGG             2014J      675578   896943   269          1
10655277         GGG             2014J      654064   896943   269          3
10655278         GGG             2014J      654064   896939   269          1
10655279         GGG             2014J      654064   896939   269          1

[10655280 rows x 6 columns]

In [5]:
df = df.drop(columns=['code_module', 'code_presentation', 'id_student'])
df

          id_site  date  sum_click
0          546652   -10          4
1          546652   -10          1
2          546652   -10          1
3          546614   -10         11
4          546714   -10          1
...           ...   ...        ...
10655275   896943   269          3
10655276   896943   269          1
10655277   896943   269          3
10655278   896939   269          1
10655279   896939   269          1

[10655280 rows x 3 columns]